span.tinyText {
  font-size: small;
}

img.iconStyle {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  vertical-align: middle;
}

/* button {
  margin-right: 10px;
}*/
button.actionButton {
  min-width: 150px;
  text-align: center;
} 

.copyButton, .dlButton {
  width: 150px;
}

button.caret-button {
  width: 32px;
}

button.caret-button .button-children{
  text-overflow: clip;
  transition: .125s;
}

button.caret-button.open .button-children {
  transform: rotate(90deg);
}

input {
  width: 200px;
}

select, button.select-button {
  width: 290px;
}

textarea[readonly]:hover {
  cursor: text;
}

svg.iconStyle, p.iconStyle > svg {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  vertical-align: middle;
}

button.connectCloud {
  text-align: left;
  padding-left: 20px;
  margin-right: 0px;
}

button.installOneagent {
  text-align: left;
  padding-left: 20px;
}

/* .cloudTable > div > div > div > div > .strato-table-header-cell:nth-child(1){
  width: 50px !important;
} */